In [4]:
%pip install pandas lxml

Requirement already satisfied: pandas in c:\users\td673\documents\progetti\personal\.venv\lib\site-packages (2.2.3)
Collecting lxml
  Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\td673\documents\progetti\personal\.venv\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\td673\documents\progetti\personal\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\td673\documents\progetti\personal\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\td673\documents\progetti\personal\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\td673\documents\progetti\personal\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 1.3 MB/s eta 0:00:03
   ------------- -------------------------- 1.3/3.8 MB 2.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.8/3.8 MB 2.5 MB/s eta 0:00:01
   --------------------- ------------------ 2.1/3.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 3.0 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"
tables = pd.read_html(URL)

In [7]:
df = tables[0][["Event", "Time"]]

In [8]:
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:40.07
4  800m freestyle  7:32.12

In [9]:
df[df["Event"].str.contains("relay")]

                        Event     Time
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [12]:
df[~df["Event"].str.contains("relay")].head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:40.07
4  800m freestyle  7:32.12

In [13]:
df = df[~df["Event"].str.contains("relay")]

In [14]:
df = df.set_index("Event")
df.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.40
200m freestyle  1:42.00
400m freestyle  3:40.07
800m freestyle  7:32.12

In [15]:
record_dict = df.to_dict()

In [16]:
record_dict

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}