In [4]:
import pandas as pd

In [5]:
URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"
tables = pd.read_html(URL)

In [6]:
df = tables[0][["Event", "Time"]]

In [7]:
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:39.96
4  800m freestyle  7:32.12

In [8]:
df[df["Event"].str.contains("relay")]

                        Event     Time
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [9]:
df[~df["Event"].str.contains("relay")].head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:39.96
4  800m freestyle  7:32.12

In [10]:
df = df[~df["Event"].str.contains("relay")]

In [11]:
df = df.set_index("Event")
df.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.40
200m freestyle  1:42.00
400m freestyle  3:39.96
800m freestyle  7:32.12

In [12]:
record_dict = df.to_dict()

In [13]:
record_dict

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:39.96',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}